*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  background-color: var(--bg-color);
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

:root {
  --bg-color: #000;
  --text-color: #fff;
  --overlay-color: rgb(0, 0, 0, 0.4);
  --hero-gradient: linear-gradient(0deg,rgba(0,0,0,.8) 0,transparent 60%,rgba(0,0,0,.8));
  --btn-primary: #e50914;
  --btn-primary-hover: #f40612;
  --place-holder: #8c8c8c;
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 100;
  font-style: normal;
  src: url("../../fonts/NetflixSansThin.ttf");
}
@font-face {
  font-family: "Netflix Sans";
  font-weight: 400;
  font-style: normal;
  src: url(../../fonts/NetflixSansRegular.ttf);
}
@font-face {
  font-family: "Netflix Sans";
  font-weight: 500;
  font-style: normal;
  src: url(../../fonts/NetflixSansMedium.ttf);
}
@font-face {
  font-family: "Netflix Sans";
  font-weight: 900;
  font-style: normal;
  src: url(../../fonts/NetflixSansBlack.ttf);
}
body {
  font-family: "Netflix Sans";
  color: var(--text-color);
  font-weight: 400;
}

h1 {
  font-size: 3.125rem;
  line-height: 1.1;
  font-weight: 500;
}

h2 {
  font-size: 1.625rem;
}

h3 {
  font-size: 1.2rem;
}

@media (max-width: 780px) {
  html {
    font-size: 13px;
  }
}

.container {
  max-width: 1290px;
  margin-inline: auto;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
}

@media (max-width: 780px) {
  .card-container {
    flex-direction: column;
  }
  .flipped {
    display: flex;
    flex-direction: row;
  }
}
section {
  border-bottom: 8px solid #222;
}

.hero {
  min-height: 700px;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/d0a0affb-1c76-4cf0-9d75-eb531f32458c/67c60e8b-3443-4e83-955a-95ba0a24573e/VE-en-20221214-popsignuptwoweeks-perspective_alpha_website_small.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1000;
}
.hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  background-image: var(--hero-gradient);
}
.hero .main-content {
  position: relative;
  z-index: 2000;
}
.hero .container {
  position: relative;
  z-index: 2000;
}

h1 {
  max-width: 600px;
  text-align: center;
  margin-inline: auto;
}

.hero-card {
  padding: 70px 45px;
}

.hero-text {
  max-width: 950px;
  margin-inline: auto;
  padding: 75px 0;
  text-align: center;
}

h2 {
  margin: 1rem auto;
}

h3 {
  padding-bottom: 20px;
  padding-inline: 5%;
}

.section-card {
  padding: 70px 45px;
}

.card-container__text h1 {
  text-align: left;
  margin-bottom: 0.5rem;
}

.card-container__text {
  padding-right: 3rem;
  width: 52%;
  margin: -5% 0;
  flex: 0 1 auto;
  box-sizing: content-box;
}
@media (max-width: 780px) {
  .card-container__text {
    padding: 0 !important;
    width: 80%;
    margin-bottom: 40px;
    text-align: center;
  }
  .card-container__text h1 {
    text-align: center;
  }
}
.card-container__video {
  width: 48%;
  display: flex;
  flex: 0 1 auto;
}
@media (max-width: 780px) {
  .card-container__video {
    width: 100%;
  }
}
.card-container__video--animation {
  position: relative;
  margin: -10% -5% -5% 0;
}
.card-container__video--animation img {
  position: relative;
  z-index: 2000;
}
.card-container__video--container {
  z-index: 1000;
  position: absolute;
  height: 100%;
  left: 50%;
  max-height: 54%;
  max-width: 73%;
  top: 46%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.watch-one-device .card-container__video--container {
  height: 100%;
  left: 50%;
  max-height: 47%;
  max-width: 63%;
  position: absolute;
  top: 34%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.download-and-watch {
  width: 100%;
  margin: -8% 0 -4% -15%;
}
@media (max-width: 780px) {
  .download-and-watch {
    margin: 0;
  }
}

.flipped {
  flex-direction: row-reverse;
}
@media (max-width: 780px) {
  .flipped {
    display: flex;
    flex-direction: column;
  }
}
.flipped .card-container__text {
  padding: 0 0 0 3rem;
}

.btn-primary {
  all: unset;
  background: var(--btn-primary);
  cursor: pointer;
  min-height: 60px;
  font-size: 1.625rem;
}
.btn-primary:hover {
  background: var(--btn-primary-hover);
}
@media (max-width: 780px) {
  .btn-primary {
    font-size: 16px;
    min-height: 40px;
  }
}

header .sign-in {
  font-size: 1rem;
  font-weight: 400;
  line-height: norma;
  padding: 7px 17px;
  background: var(--btn-primary);
  border-radius: 3px;
}
header .lang-btn {
  display: inline-block;
  position: relative;
  outline: 1px solid #aaa;
  padding: 0.44rem 1.57rem;
  border-radius: 2px;
  margin-right: 2rem;
  background: var(--overlay-color);
}
header .lang-btn span {
  font-size: 0.875rem;
  line-height: 1.3em;
  position: relative;
}
header .lang-btn span:after {
  content: "";
  width: 5px;
  height: 5px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  position: absolute;
  top: 0;
  transform: translate(5px, 60%);
}
header .lang-btn span i {
  position: absolute;
  font-size: 0.75rem;
  top: 50%;
  transform: translate(-16px, -53%);
}
header .lang-btn span i::before {
  vertical-align: middle;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 56px;
  padding-top: calc(20px + 0.5rem);
  height: 4rem;
  margin-bottom: 20px;
}
header .logo {
  width: 8.375rem;
  fill: #e50914;
}

.form {
  max-width: 950px;
  padding-top: 0.85rem;
  display: flex;
  flex-direction: column;
}
.form h3 {
  margin: 0 auto;
}
.form .email-address {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 780px) {
  .form .email-address {
    flex-direction: column;
  }
}
.form .email-address input {
  all: unset;
  box-sizing: border-box;
  background: #fff;
  color: #000;
  text-align: left;
  padding-left: 10px;
  min-width: 450px;
  height: 60px;
}
.form .email-address input::-moz-placeholder {
  all: unset;
  font-size: 1rem;
  color: var(--place-holder);
}
.form .email-address input:-ms-input-placeholder {
  all: unset;
  font-size: 1rem;
  color: var(--place-holder);
}
.form .email-address input::placeholder {
  all: unset;
  font-size: 1rem;
  color: var(--place-holder);
}
.form .email-address button {
  display: inline-flex;
  flex-direction: row;
  padding: 0 1em;
  align-items: center;
}
.form .email-address svg {
  height: 0.8em;
  margin: 0 0 0 0.5em;
}
.form .email-address .btn-cta-container {
  font-size: 1.625rem;
}
@media (max-width: 780px) {
  .form .email-address .btn-cta-container {
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */