*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 40px 70px;
}

button {
  cursor: pointer;
  padding: 7px 7px;
}

label {
  align-self: baseline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}


input, textarea {
  align-items: stretch;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  min-width: 0;
  max-width: 100%;
  flex: 1;
  width: 100%;
}

textarea {
  resize: none;
}

.test {
  background: white;
}