header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 56px;
  padding-top: calc(20px + 0.5rem);
  height: 4rem;

  .logo {
    width: 8.375rem;
    fill: #e50914;

  }


}