*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background: #0f0f0f;
}

#start {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  height: 56px;
  padding: 0 16px;
}

.menu-icon {
  padding: 8px;
}

.logo {
  padding: 18px 14px 18px 16px;
}